---
import Layout from '../layouts/Layout.astro';
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ImageSection from "../components/ImageSection.astro";
---

<Layout title="Tesla - Your dream car">
	<LandingHeader/>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ImageSection
				title="Model 3"
				subtitle="Lease from $429/mo"
				src="/img/model3.avif"
				underline={true}
				primaryButtonText="Order Now"
				secondaryButtonText="Demo Drive"
				headerColor="black"
			/>
		</div>
		<div class="snap-center">
			<ImageSection
				title="Model Y"
				subtitle="View inventory"
				src="/img/modely.avif"
				underline={true}
				primaryButtonText="Order Now"
				secondaryButtonText="Demo Drive"
				headerColor="black"
			/>
		</div>
		<div class="snap-center">
			<ImageSection
				title="Model S"
				subtitle="View inventory"
				src="/img/models.avif"
				underline={true}
				primaryButtonText="Order Now"
				secondaryButtonText="Demo Drive"
				headerColor="black"
			/>
		</div>
		<div class="snap-center">
			<ImageSection
				title="Model X"
				subtitle="View inventory"
				src="/img/modelx.avif"
				underline={true}
				primaryButtonText="Order Now"
				secondaryButtonText="Demo Drive"
				headerColor="black"
			/>
		</div>
		<div class="snap-center">
			<ImageSection
				title="Solar Panels"
				subtitle="Lowest Cost Solar Panels in America"
				src="/img/solarpanels.avif"
				primaryButtonText="Order Now"
				secondaryButtonText="Learn More"
				headerColor="black"
			/>
		</div>
		<div class="snap-center">
			<ImageSection
				title="Solar Roof"
				subtitle="Produce Clean Energy From Your Roof"
				src="/img/solarroof.avif"
				primaryButtonText="Order Now"
				secondaryButtonText="Learn More"
				headerColor="black"
			/>
		</div>
		<div class="snap-center">
			<ImageSection
				title="Accessories"
				subtitle=""
				src="/img/powerwall.avif"
				primaryButtonText="Shop Now"
				headerColor="black"
				footer={true}
			/>
		</div>
	</main>
</Layout>
